* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: azure;
}

.header {
    display: flex;
    position: relative;
    border: solid black;
    justify-content: space-between;
    background-image: linear-gradient(turquoise, orange);
    align-items: baseline;
}

.sidebar {
    border: solid black;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(orange, turquoise);
}

h1 {
    flex-basis: 75%;
}

h2 {
    border-right: solid black;
    flex: 10%;
    padding: 0em 0.5em;
    text-align: right;
    font-size: 160%;
}

h3 {
    text-align: center;
    margin-right: 0.5%;
    padding: 0em 0.25em;
}

h4 {
    margin-right: 0.5em;
}

#information {
    flex: 60%;
    display: block;
    border-left: solid black;
    flex-wrap: wrap;
    font-size: 110%;
    padding: 0em 0.5em;
}

.footer {
    border: solid black;
    background-image: linear-gradient(turquoise, orange);
    display: flex;
    justify-content: right;
}

#information img {
    border: solid black;
}

@media screen and (max-width: 600px) {
    .sidebar {
        display: block;
        text-align: center;
    }
    h2 {
        display: block;
        text-align: center;
        border-right: 0px;
        text-decoration: underline;
    }
    h3 {
        margin-right: 0px;
    }
    #information {
        border: 0px;
    }
}